.form {
  margin-top: 20px;
  width: 400px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-group {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.cancel-btn {
  padding: 10px 20px;
  border: 1px solid red;
  background: transparent;
  color: red;
  cursor: pointer;
}

.create-btn {
  padding: 10px 20px;
  background: #2d2b70;
  color: white;
  border: none;
  cursor: pointer;
}